body {
  background-image: url("scrabbletiles.jpg");
  background-size: 1200px 1400px;
  background-position: center;
}

.card {
  background-color: rgb(249, 237, 229, 0.9);
  border-color: #f9ede5e6;
  border-radius: 10px;
  margin: 20px auto 5px;
  max-width: 650px;
  padding: 20px 50px;
}
