form {
  margin: 20px auto;
}

input {
  border-radius: 6px;
}

.btn {
  background: #35495e;
  border: 1px solid #35495e;
  border-radius: 6px;
  color: #f9ede5e6;
  width: 75px;
  padding: 6px 6px;
  position: relative;
  right: 24px;
}

.btn:hover {
  background: rgba(53, 73, 94, 0.8);
  border: rgba(53, 73, 94, 0.8);
  color: #f9ede5e6;
  outline: none;
}
