form {
  margin: 10px auto;
}

input {
  border-radius: 6px;
}

.btn {
  background: #35495e;
  border: 1px solid #35495e;
  border-radius: 6px;
  color: #f9ede5e6;
  width: 75px;
  padding: 6px 6px;
  position: relative;
  right: 24px;
}

.btn:hover {
  background: #ff7e67;
  border: #ff7e67;
  color: #f9ede5e6;
  outline: none;
}
