section {
  margin: 10px 0px 0px;
}

.Definition,
.Example {
  margin-bottom: 15px;
}

.Definition {
  font-size: 14px;
}

.Example {
  font-size: 12px;
  font-style: italic;
}

.Part-of-speech {
  color: #0f596d;
  font-size: 22px;
  margin: 0px;
}
