section {
  margin: 10px 0px 20px;
}

.Definition {
  font-size: 16px;
  margin-bottom: 10px;
}

.Example {
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 10px;
}

.Part-of-speech {
  font-size: 22px;
  margin: 0px;
}
